.fa-js-square {
    color: #F0DB4F;
    margin: 0 0 0.2rem 0.65rem;
}
.fa-java {
    color: red;
}
.fa-python {
    color: #4B8BBE;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #264de4;
}
.fa-git-alt {
    color: #f34f29;
    margin: 0.6rem 0 0.2rem 0.25rem;
}
.fa-sass {
    color: #c69;
}