// DARK MODE
$page-bg: black;
$profile-text-color: white;
$profile-text-font: 'Raleway', sans-serif;
$profile-bg: url('assets/images/Capri.jpeg');
$socials-icon-color: white;
$section-underline-color: white;
$section-header-color: white;
$skills-box-border-color: grey;
$skills-box-bg: rgb(27, 28, 30);
$skill-name-text-color: white;
$skills-icon-dropshadow: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
$project-box-bg: rgb(27, 28, 30);
$project-text-color: white;
$project-text-font: "Nunito Sans", sans-serif;


// LIGHT MODE
// $page-bg: white;
// $profile-text-color: white;
// $profile-text-font: 'Raleway', sans-serif;
// $profile-bg: url("assets/images/Golden_Gate_Bridge2.jpeg");
// $socials-icon-color: white;
// $section-underline-color: white;
// $section-header-color: white;
// $skills-box-border-color: grey;
// $skills-box-bg: rgb(27, 28, 30);
// $skill-name-text-color: white;
// $skills-icon-dropshadow: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
// $project-box-bg: rgb(27, 28, 30);
// $project-text-color: white;
// $project-text-font: "Nunito Sans", sans-serif;
